.c{
    font-weight: 300;
}

#somali{
    color: blue;
}

#kenya{
   color: brown;
}

#ethiopia{
    color: green;
}

#uganda{
    color: black;
}

#tanzania{
    color: green;
}

#jabuti{
    color: rgb(61, 119, 236);
}

#rwanda{
    color:blue;
}

#burundi{
    color: red;
}

#eritrea{
    color: red;
}

#ethiopia{
    color: green;
}

#southsudan{
    color: black;
}


#Nigeria{
    color: green;
}

#Ghana{
    color: red;
}

#Senegal{
    color:green;
}

#Sierraleone{
    color: green;
}


#Liberia{
    color: red;
}


#Mali{
    color: green;
}


#Niger{
    color: orangered;
}


#Gambia{
    color: red;
}


#Egypt{
    color: red;
}


#Libya{
    color: black;
}


#Tunisia{
    color: red;
}


#SouthAfrica{
    color: green;
}

#Botswana{
    color: rgb(153, 153, 240);
}


#Zimbabwe{
    color: green;
}


#Aljeria{
    color: green;
}
*{
    background-color: #f0f0f0;
}










































































img{
    width: 150px;
    height: 150px;
}